<form method="POST" action="/register">

  <div>
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" name='name'id="name" >
  </div>
  <div>
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name='email' id="email">    
  </div>

  <div>
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name='password' id="password">
  </div>

  <button type="submit" class="btn">Registrarse</button>
</form>

