<h2></h2>
<a href="/logout">Salir</a>

<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        </tr>      
    </thead>
    {{#each users}}
    <tbody>
        <tr>      
        <td>{{name}}</td>
        <td>{{email}}</td>                
        </tr>  
    </tbody>
    {{/each}}   
 </table>